@import url('https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&family=Tajawal:wght@300&display=swap');
nav{
    width: 100%;
    height: 70px;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    justify-content: space-between;
}
nav .logo-wrapper{
    font-family: 'Rubik Moonrocks', cursive;
}

nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;

}