@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&family=Tajawal:wght@500&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/screens";


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
}

body,html{
  overflow-x: hidden;
  overflow-y: auto;
  font-family: 'Tajawal', sans-serif;
  scroll-snap-type: y mandatory;
}




